
    body {
        position: relative; 
    } 
    div.flip img:hover{
        width:300px;
        height:300px;
        border:2px solid blue;
    }
    .social-icon{
        list-style: none;
        display: flex;
        justify-content: flex-start;
    }
    ul>li>img ,.mail-icon{
        width: 50px;
        height: 50px;
        border-radius: 30px;
    }
    .mail-align{
        display: flex;
        justify-content: flex-end;
    }
    .logo{
        width: 90px;
        height: 100px;
        margin-top: -15px;
        position: relative;
        animation-name: logo;
        animation-duration: 6s;
    }
    .search{
        width: 400px;
        height: 40px;
        background-color: transparent;
        border: 2px solid #Ffffff;
        color: black;
        font-size: 25px;
        background-image: url('img/search.png');
        background-size: contain;
        background-repeat-x: no-repeat;
        background-position: 355px;
      }

    @keyframes logo {
         0%  {left:0px; top:0px;}
        50%  {left:500px; top:0px;}
        100% {left:0px; top:0px;}
      }
    .logo{width: 90px;height: 100px;margin-top: -15px;}
    .navbar{height: 100px;}
    #section1 {padding-top:200px;height:642px;color: #fff;}
    #section2 {padding-top:50px;height:642px;color: #fff; }
    #section3 {padding-top:50px;height:642px;color: #fff; background-color: black;}
    #section4 {padding-top:50px;height:642px;color: #fff;}
    #section5 {padding-top:50px;height:642px;color: #fff;}
    .navbar-default .navbar-nav>.active>a{
        border-bottom: 2px solid #FBB261;
        height: 40px;
    }
    .navbar-default .navbar-nav>li>a{
        text-align: center;
    }
    .heading-hr {
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 10px;
        /* margin-bottom: 20px; */
        width: 170px;
        height: 5px;
        background-color: #FBB261;
    }
    .heading-font-style {
        font-family: 'adelle_sansbold';
        font-size: 40pt;
        color: #FBB261;
        letter-spacing: 5pt;
        font-weight: bold;
        padding-top: 5%;
    }
    .main-page-image{
      width: 100%;
      height: inherit;
    }
    .main-text {
        position: absolute;
        display: flex;
        flex-direction: row;
        justify-content: center;
        top: 320px;
    }
    .flex-vertical{
      display:flex;
      flex-direction:column;
      justify-content:center;
    }
    .leftnav{
        height: 600px;
    background-color: #006eb7;
    margin-top: 100px;
    }
    .result-body{
        height: auto;
        margin-top:100px;
    }