{% extends 'base.html' %}
{% load staticfiles%}
{% block contents %}
<div id="about" class="container-fluid">
	<div class="row">
		<div class="col-sm-12">
			<div class="row text-center">
				{% for d in data %}
				<div class="col-sm-4">
					<div class="thumbnail">
						<a href="{% url 'product_detail' %}?isbn={{d.isbn_number}}">
							<img src="{{d.featured_image.url}}" width="400" height="500">
							{% for avl in data.available.available.all %}
							<p>{{avl.name}}:{{avl.price}}</p>
							{% endfor %}
						</a>
					</div>
				</div>
				{% if forloop.counter|divisibleby:3 %}
			</div>
			<div class="row text-center">
				{% endif %}
				{% endfor %}
			</div>
			<div align="center">
        {% if current_page == 1%}
  					<a href="{% url 'web_search' %}?page_num={{next_page}}&q={{q}}"><button>Next</button></a>        
				{% elif current_page < total_pages %}
          <a href="{% url 'web_search' %}?page_num={{previous_page}}&q={{q}}"><button>Previous</button></a>
					<a href="{% url 'web_search' %}?page_num={{next_page}}&q={{q}}"><button>Next</button></a>
				{% else %}
					<a href="{% url 'web_search' %}?page_num={{previous_page}}&q={{q}}"><button>Previous</button></a>
				{% endif %}

			</div>
		</div>
	</div>
</div>
{% endblock %}
